.header {
  background-color: var(--color-white);
  width:100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: var(--main-test);
  font-size: 36px;
  font-weight: 600;
  color: var(--color-gray-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo_image{
  display: flex;
}

.menu_container{
  margin-left: 20px;
  color: black;
}

.action_container{
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}


.avatar_container{
 display: flex;
}

.button_logout{
  margin-left: 10px;
  width: 80px;
  min-width: 80px;
  height: 5vh;
  color: white;
  background-color: #4f46e5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.avatar{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}


/* Dialog */

.popup_menu{
  position: absolute;
  width: 200px;
  height: 145px;
  top: 80px;
  right: 50px;
  background-color: var(--color-white);
  border-radius: var(--br-6xl);
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}

.avatar_popup{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}

.user_info_container{
  width: 190px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  color: black;
  justify-content: flex-start;
  align-items: center;
}

.username_label{
  margin: 0;
  min-width: 110px;
  max-height: 40px;
  font-size: 14px;
  margin-left: 10px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 190px;
  cursor: pointer;
}

.profile{
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.profile_text{
  margin-left: 10px;
  color: black;
  font-size: 18px;
}

.dialog_none{
  display: none;
}